/*
Code written by Nguyen Van Hung at @imrhung
Feel free to re-use or share it.
Happy code!!!
*/
/* 
    Created on : Oct 9, 2014, 11:46:20 AM
    Author     : MrHung
*/

body{
    background-color: #e5e5e5;
}

#page-wrapper {
    background-color: #e5e5e5;
    width: 500px;
    margin: auto;
}
